HTML {
	height: 100%;
}
BODY{
	height: 100%;
}

.app_content {
	margin: 60px 0;
}


.post-image img {
	max-width: 320px;
}

.footer-margin-top {
	margin-top: 10px;
}

.optimit {
	color: #ccc;
	font-size: 5px;
}
.optimit:hover {
	font-size: 12px;
}
A.int,
A.int:visited,
A.int:hover,
A.int:active {
	text-decoration: none;
	border-bottom: 1px dashed blue;
	color: blue;
}
.displayOnload {display:none}
#calendar {
	max-width: 900px;
	margin: 0 auto;
}
.center-xy {
    margin: 0 auto;
    display: table;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.table.table-bordered.table-striped.table-condensed th,
.table.table-bordered.table-striped.table-condensed td:first-child {
	text-align: center;
	vertical-align: middle;
}

.valign-middle th, 
.valign-middle td {
	vertical-align: middle;
}

/* For tinysort */

th.sort {
	cursor: pointer;
	padding-right: 23px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('i/bg.gif');
}
  
th.sort.sorted-asc {
    background-image: url('i/asc.gif');
}

th.sort.sorted-desc {
    background-image: url('i/desc.gif');
}


/* For jquery.table */
        
  /* add hover effect for table rows */  
  td.hovered {  
     background-color: #ddd; 
  }

    
  th.sortable {
    cursor: pointer;
    padding-right: 23px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('../img/sort-bg.gif');
  }
      
  th.sortable.sorted-asc,
  th.sortable.sorted-desc  {
    color: #000;
    background-color: #ddd;
  }
  
  th.sortable.sorted-asc {
    background-image: url('../img/sort-asc.gif');
  }

  th.sortable.sorted-desc {
    background-image: url('../img/sort-desc.gif');
  }
  

  th.sortable:hover {
    color: black;
    background-color: #ddd; 
    text-decoration: none;
  }
  
/* Glog item history */
table.table_history th,
table.table_history td {
	vertical-align: middle;
}